<template>
  <a-card>
    <h2 v-if="!allow" slot="title">User không có quyền truy cập</h2>
    <h2 v-else slot="title">Chọn memo để gửi email</h2>
    <a slot="extra" @click="handleLogout">Đăng xuất</a>
    <div v-if="allow">
      <a-input-search
        class="input"
        size="large"
        placeholder="Nhập từ khóa"
        @search="onSearch"
      />
      <a-table
        :columns="columns"
        :row-key="record => record.id"
        :data-source="memoList"
        :pagination="getPagination"
        :loading="loading"
        :show-header="false"
        @change="handleTableChange"
      >
        <template #memo="memo">
          <div class="title">
            {{ memo.title }}
          </div>
          <div>{{ new Date(memo.createdAt).toLocaleString() }}</div>
          <div class="content">
            {{ memo.content }}
          </div>
        </template>
        <template #email="memo">
          <a @click="handleOpenShare(memo.id)">Gửi email chia sẻ</a>
        </template>
      </a-table>
    </div>
    <a-modal
      v-model="visible"
      title="Chia sẻ memo"
      :ok-button-props="{ loading }"
      @ok="handleOk"
    >
      <a-alert
        v-if="errEmails.length > 0"
        class="alert"
        message="Lỗi"
        :description="`Các email ${errEmails.join(', ')} không đúng định dạng`"
        type="error"
      />
      <a-textarea
        :value="email"
        placeholder="Nhập danh sách email, mỗi email trên một dòng"
        allow-clear
        :rows="10"
        @focus="errEmails = []"
        @change="onChange"
      />
    </a-modal>
  </a-card>
</template>

<script>
import { mapActions, mapState } from 'vuex'

const columns = [
  {
    title: 'Memo',
    key: 'memo',
    width: '90%',
    scopedSlots: { customRender: 'memo' }
  },
  {
    title: 'Email',
    key: 'email',
    width: '10%',
    scopedSlots: { customRender: 'email' }
  }
]

function validateEmail(email) {
  const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
  return re.test(String(email).toLowerCase())
}

const checkPermission = email => {
  const emailListString = process.env.VUE_APP_EMAIL_LIST || ''
  const emails = emailListString.split(',')
  return emails.includes(email)
}

export default {
  name: 'Home',
  components: {},
  data() {
    return {
      columns,
      visible: false,
      selectedMemo: undefined,
      errEmails: [],
      email: '',
      query: {
        page: 1,
        pageSize: 10,
        q: ''
      }
    }
  },
  mounted() {
    if (this.allow) this.fetch(this.query)
  },
  methods: {
    ...mapActions('memo', ['fetchMemoList', 'shareMemo']),
    ...mapActions('user', ['logout']),
    showModal() {
      this.visible = true
    },
    async handleOk() {
      const emailString = this.email.trim()
      const emailList = emailString.split('\n').map(e => e.trim())
      const errEmails = []
      emailList.forEach(e => {
        if (!validateEmail(e)) {
          errEmails.push(e)
        }
      })
      this.errEmails = errEmails
      if (errEmails.length > 0) {
        return
      }
      try {
        await this.shareMemo({ id: this.selectedMemo, emails: emailList })
        this.visible = false
        this.selectedMemo = undefined
      } catch (e) {
        console.error(e)
      }
    },
    handleTableChange(pagination) {
      this.query = {
        ...this.query,
        page: pagination.current,
        pageSize: pagination.pageSize
      }
      this.fetch(this.query)
    },
    fetch(params) {
      this.fetchMemoList(params)
    },
    onSearch(text) {
      this.query = {
        ...this.query,
        q: text
      }
      this.fetch(this.query)
    },
    onChange(e) {
      this.email = e.target.value
    },
    handleOpenShare(id) {
      this.selectedMemo = id
      this.visible = true
    },
    handleLogout() {
      this.logout()
      this.$router.push('/login')
    }
  },
  computed: {
    ...mapState('memo', ['memoList', 'totalItems', 'loading']),
    ...mapState('user', ['userInfo']),
    getPagination() {
      return {
        total: this.totalItems,
        current: this.query.page,
        pageSize: this.query.pageSize
      }
    },
    allow() {
      return checkPermission(this.userInfo?.email)
    }
  }
}
</script>

<style lang="scss">
.input {
  margin-bottom: 24px;
}
.title {
  font-size: 18px;
  font-weight: 700;
}
.content {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.alert {
  margin-bottom: 12px;
}
</style>
