<template>
  <div class="login-container">
    <div class="content">
      <div class="top">
        <div class="header-login">
          <img alt="logo" class="logo" src="../../assets/logo.png" />
        </div>
        <div class="desc">Đăng nhập hệ thống quản lý</div>
      </div>
      <div class="login">
        <a-form-model ref="formLogin" :model="form" :rules="rules">
          <a-form-model-item prop="usernameOrEmail">
            <a-input
              v-model="form.usernameOrEmail"
              size="large"
              placeholder="Tên TK / E-mail"
            >
              <a-icon
                slot="prefix"
                type="user"
                style="color: rgba(0, 0, 0, 0.25)"
              />
            </a-input>
          </a-form-model-item>
          <a-form-model-item prop="password">
            <a-input-password
              v-model="form.password"
              size="large"
              placeholder="Mật khẩu"
            >
              <a-icon
                slot="prefix"
                type="lock"
                style="color: rgba(0, 0, 0, 0.25)"
              />
            </a-input-password>
          </a-form-model-item>
          <a-form-item>
            <a-button
              :loading="loading"
              size="large"
              style="width: 100%"
              html-type="submit"
              type="primary"
              @click.prevent="handleSubmit"
            >
              Đăng nhập
            </a-button>
            <a-button
              icon="google"
              size="large"
              style="width: 100%; margin-top: 16px"
              html-type="submit"
              @click.prevent="handleLoginGG"
            >
              Đăng nhập bằng Google
            </a-button>
            <a-button
              icon="facebook"
              size="large"
              style="width: 100%; margin-top: 16px"
              html-type="submit"
              @click.prevent="handleLoginFB"
              >Đăng nhập bằng Facebook
            </a-button>
          </a-form-item>
        </a-form-model>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import firebase, { ggProvider, fbProvider } from '../../services/firebase'
export default {
  name: 'Login',
  components: {},
  data() {
    return {
      form: {
        usernameOrEmail: '',
        password: ''
      },
      rules: {
        usernameOrEmail: [
          {
            required: true,
            message: 'Tên TK, Email không được để trống'
          }
        ],
        password: [
          {
            required: true,
            message: 'Mật khẩu không được để trống'
          }
        ]
      }
    }
  },
  computed: {
    ...mapState('user', ['loading'])
  },
  methods: {
    ...mapActions('user', ['login', 'loginThirdParty']),
    handleSubmit() {
      this.$refs.formLogin.validate(async (valid) => {
        if (valid) {
          try {
            await this.login(this.form)
            const { redirect } = this.$router.currentRoute.query
            if (redirect) {
              this.$router.push({ path: redirect })
            } else {
              this.$router.push({ path: '/' })
            }
          } catch (e) {
            console.error(e)
          }
        }
      })
    },
    async handleLoginGG() {
      try {
        await firebase.auth().signInWithPopup(ggProvider)
        const idToken = await firebase.auth().currentUser?.getIdToken(true)
        await this.loginThirdParty(idToken)
        const { redirect } = this.$router.currentRoute.query
        if (redirect) {
          this.$router.push({ path: redirect })
        } else {
          this.$router.push({ path: '/' })
        }
      } catch (e) {
        console.error(e)
      }
    },
    async handleLoginFB() {
      try {
        await firebase.auth().signInWithPopup(fbProvider)
        const idToken = await firebase.auth().currentUser?.getIdToken(true)
        await this.loginThirdParty(idToken)
        const { redirect } = this.$router.currentRoute.query
        if (redirect) {
          this.$router.push({ path: redirect })
        } else {
          this.$router.push({ path: '/' })
        }
      } catch (e) {
        console.error(e)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.login-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background-size: 100%;

  .content {
    padding: 32px 0;
    flex: 1;
    @media (min-width: 768px) {
      padding: 112px 0 24px;
    }
    .top {
      text-align: center;
      .header-login {
        height: 44px;
        line-height: 44px;
        a {
          text-decoration: none;
        }
        .logo {
          height: 60x;
          vertical-align: top;
        }
        .title {
          font-size: 33px;
          color: rgba(0, 0, 0, 0.85);
          font-weight: 600;
          position: relative;
          top: 2px;
        }
      }
      .desc {
        font-size: 20px;
        font-weight: 700;
        color: rgba(0, 0, 0, 1);
        margin-top: 24px;
        margin-bottom: 24px;
      }
    }
    .login {
      width: 368px;
      margin: 0 auto;
      @media screen and (max-width: 576px) {
        width: 95%;
      }
      @media screen and (max-width: 320px) {
        .captcha-button {
          font-size: 14px;
        }
      }
      .icon {
        font-size: 24px;
        color: rgba(0, 0, 0, 0.2);
        margin-left: 16px;
        vertical-align: middle;
        cursor: pointer;
        transition: color 0.3s;
        &:hover {
          color: #1890ff;
        }
      }
    }
  }
}
</style>
